<div style="margin: auto; padding: 5%; max-width: 60%" [hidden]="!this.logStatus">
    <div class="card text-white mb-3" id=loginComp>
        <div class="card-header" style="text-align: center;">
            <h1>Log In To Your Account</h1>
        </div>
        <div class="card-body">
            <div [hidden]="submitted">
                <form #contactForm="ngForm" (ngSubmit)="onSubmitLogin(contactForm)">
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="EmailInput">Email</label>
                            <input type="text" class="form-control" id="EmailInput" name="email" #UserName="ngModel" [(ngModel)]="model.email" placeholder="Email" required>
                        </div>
                    </div>
                    <div class="form-row">
                      <div class="col-md-12 mb-3">
                          <label for="PasswordInput" data-error="Invalid Password, Please try again">Password</label>
                          <input type="password" class="form-control" id="PasswordInput" name="Password" #Password="ngModel" [(ngModel)]="model.password" placeholder="Password" required>
                      </div>
                    </div>
                    <div style="color: tomato;">
                        <p *ngIf="this.errorMessage == 401">Login failed. please try again</p>
                        <p *ngIf="this.errorMessage === 400">You enter wrong username or password. please try again</p>
                        <p *ngIf="this.errorMessage == 500">Something went wrong with the server. please try again later.</p>
                        <p *ngIf="this.errorMessage == 0">General error. please try again later.</p>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <button type="login" [disabled]="!contactForm.valid" class="btn btn-secondary btn-block"><b> LOGIN </b></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div style="margin: auto; padding: 5%; max-width: 60%;" [hidden]="this.logStatus">
    <div class="card text-white bg-dark mb-3">
        <div class="card-header" style="text-align: center;">
            <h2>Are you sure you're want to logout?</h2>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-6" style="margin: auto;">
                <button class="btn btn-secondary btn-block" (click)="onSubmitLogout()"><b> Y e s </b></button>
            </div>
        </div>
    </div>
</div>