<div style="margin: auto; padding: 5%; max-width: 60%;">
  <div class="card text-white bg-dark mb-3">
      <div class="card-header" style="text-align: center;">
          <h1>Log In To Your Account</h1>
      </div>
      <div class="card-body">
          <div [hidden]="submitted">
              <form #contactForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
                <div class="form-row">
                      <div class="col-md-12 mb-3">
                          <label for="emailInput">Email</label>
                          <input type="email" class="form-control" id="emailInput" name="email" #UserName="ngModel" [(ngModel)]="model.email" placeholder="Email" required>
                      </div>
                  </div>
                  <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label for="passwordInput" data-error="Invalid Password, Please try again">Password</label>
                        <input type="password" class="form-control" id="passwordInput" name="password" #Password="ngModel" [(ngModel)]="model.password" placeholder="Password" required>
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <button type="submit" [disabled]="!contactForm.valid" class="btn btn-secondary btn-block"><b> S u b m i t </b></button>
                    </div>
                </div>
              </form>
          </div>
      </div>
  </div>
</div>