
<!-- NAVIGATION BAR-->

<ul class="sidebar-nav">
  <img style ="margin-left:8vh" src = "../assets/img/logo.png" width="50px" height="50px">
  <!--<li><a routerLink="" href="#"><span class="glyphicon glyphicon-music"></span></a></li>-->
  <li><a routerLink="/home" href="#home">MusicAll</a></li>
  <li><a routerLink="/contactUs" href="#contactUs">Contact Us</a></li>
  <li><a routerLink="/about" href="#about">About</a></li>
  <li *ngIf="!isloggedin()"><a routerLink="/login" href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
  <li *ngIf="!isloggedin()"><a routerLink="/signup" href="#"><span class="glyphicon glyphicon-user"></span> SignUp</a></li>
  <li *ngIf="isloggedin()"  ><a (click)="Logout()" routerLink="/login" href="#"><span class="glyphicon glyphicon-user"></span> Logout</a></li>

</ul>
<router-outlet></router-outlet>
