
 <style>
  html,body{
    width: 100%;
    height: 100%;
  }
  #MyMainView{
    float: left;
    width: 100%;
    height: 100%;
    background-image: url("../assets/img/wallpaper.jpg");
    background-repeat: no-repeat;
    background-color: #e6ffff;
    margin: 0;
    background-position: center;
    background-size: cover;
  }
</style>

<!-- NAVIGATION BAR-->
<ul>
  <li><a class="active" href="#home">MusicAll</a></li>
  <li><a href="#about">Shere Your Music</a></li>
  <li><a href="#contact">Contact Us</a></li>
  <li><a href="#about">About</a></li>
  <li style="float:right"><a href="#login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
  <li style="float:right"><a href="#signup"><span class="glyphicon glyphicon-user"></span> SignUp</a></li>
</ul>

