<section class="Logo"></section>
<section class="SideBarMenu">
    <ul>
        <li>
            <a routerLink="/home" href="#">Home</a>
        </li>
        <li>
            <a routerLink="/contact" href="#">Contact Us</a>
        </li>
        <li>
            <a routerLink="/about" href="#">About</a>
        </li>
        <li *ngIf="!isloggedin()">
            <a routerLink="/login" href="#">Login</a>
        </li>
        <li *ngIf="!isloggedin()">
            <a routerLink="/register" href="#">Register</a>
        </li>
        <li *ngIf="isloggedin()">
            <a (click)="Logout()" routerLink="/login" href="#">Logout</a>
        </li>
    </ul> 
</section>

