<section class="Logo"></section>
<section class="SideBarMenu" style="background-color: #000">
    <ul>
        <li>
            <a routerLink="/home" href="#">Home</a>
        </li>
        <li>
            <a routerLink="/contact" href="#">Contact Us</a>
        </li>
        <li>
            <a routerLink="/about" href="#">About</a>
        </li>
        <li>
            <a routerLink="/discover" href="#">Discover Your Music</a>
        </li>
        <li *ngIf="!isloggedin()">
            <a routerLink="/login" href="#"><span class="glyphicon glyphicon-log-in"></span>  Login</a>
        </li>
        <li *ngIf="!isloggedin()">
            <a routerLink="/register" href="#"><span class="glyphicon glyphicon-user"></span>  Register</a>
        </li>
        <li *ngIf="isloggedin()">
            <a (click)="Logout()" routerLink="/login" href="#">Logout</a>
        </li>
    </ul> 
</section>

