<section class="Logo"></section>
<section class="SideBarMenu" style="background-color: #000">
    <ul>
        <li>
            <a routerLink="/home">Home</a>
        </li>
        <li>
            <a routerLink="/contact">Contact Us</a>
        </li>
        <li>
            <a routerLink="/about">About</a>
        </li>
        <li>
            <a routerLink="/discover">Discover Your Music</a>
        </li>
        <li *ngIf="!isloggedin()">
            <a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span>  Login</a>
        </li>
        <li *ngIf="!isloggedin()">
            <a routerLink="/register"><span class="glyphicon glyphicon-user"></span>  Register</a>
        </li>
        <li *ngIf="isloggedin()">
            <a routerLink="/login">Logout</a>
        </li>
    </ul> 
</section>

