/* You can add global styles to this file, and also import other style files */
html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
app-menu{
  float: left; 
  width: 180px;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #333;
  /*
  background-image: linear-gradient(to bottom,#121e3d 0,#000 100%);
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  background-size: cover;
  */
}

app-root{
  float: right;
  width: calc(100% - 180px);
  height: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom,#121e3d 0,#000 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
